
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}

.firstpage {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.firstpage h1 {
  font-weight: 800;
  font-size: 24px;
}

.wrapper1 {
  width: 80%;
  margin: 70px auto;
}

.align1 {
  align-items: center;
  margin: 140px auto;
}

.firstpage p1 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.getitnow {
  width: 200px;
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #033048;
  border-color: #f9e42e;
  background-color: #f9e42e;
  border-radius: 5px;
  margin-top: 50px;
}

.secondpage {
  background-color: #f0efef;
  padding: 5rem 0rem 5rem 6rem;
}

.secondpage  h2 {
  font-weight: 600;
  font-size: 20px;
  color: #033048;
}

.secondpage p2 {
  font-weight: 300;
  font-size: 13px;
  color: #606161;
  padding-top: 1rem;
}

.secondpage ul {
  font-weight: 300;
  font-size: 13px;
  padding-top: 1rem;
  color: #606161;
}

.thirdpage {
  background-image: url("../img/testimonial.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.thirdpage h3 {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  padding-top: 8rem;
  text-align: center;
}

.thirdpage h4 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.call-to-action {
width: 100%;
min-height: 10rem;
justify-content: center;
align-items: center;
}

.call-to-action button {
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 12px 0;
  width: 250px;
  font-size: 20px;
  text-align: center;
  display: block;

  background-color: #033048
}


.end {
display: flex;
flex-direction: column;
align-items: center;
}

footer h5 {
  font-size: 24px;
  font-weight: 800;
  padding: 2rem;
}

.tweet {
  height: 30px;
  width: 40px;
  padding-right: 0.5rem;
}

.face {
  height: 30px;
  width: 20px;
  padding-left: 0.5rem;
}

.pictures {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

footer h6 {
  font-size: 9px;
  font-weight: 600;
  padding: 1rem 0 2rem 0;
}

/*mobile*/
@media (min-width: 481px) {
    .firstpage h1 {
      font-weight: 800;
      font-size: 30px;
    }

    .firstpage p1 {
      font-size: 30px;
      text-align: center;
    }

    .getitnow {
      width: 200px;
      height: 40px;
      font-weight: 600;
      font-size: 20px;
      color: #033048;
      border-color: #f9e42e;
      background-color: #f9e42e;
      border-radius: 5px;
      margin-top: 50px;
    }
    /*jkldljalkjadkl*/
}
